$light-orange: #fec76f;
$light-parchment: #faf0e6;
$dark-parchment: #dcb995;
$black: #000000;
$dark-gray: #333333;
$darker-parchment: #3d2e12;
$white: #ffffff;
$light-gray: #f5f5f5;
$dark-orchid: #561b74;