@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
        url('../src/fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../src/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'),
        url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
        url('../src/fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
        url('../src/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
        url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap') format('truetype'),
}