@use '_colors' as colors;
@use '_fonts';
@use '_mixins';

// Light theme variables
$primary-bg-color-light: colors.$light-orange;
$secondary-bg-color-light: colors.$off-white;
$bg-color-light: colors.$light-parchment;
$bg-highlight-light: colors.$orange;
$card-bd-color-light: colors.$dark-parchment;
$font-color-light: colors.$black;
$font-color-secondary-light: colors.$dark-gray;

// Dark theme variables
$primary-bg-color-dark: colors.$dark-orchid;
$secondary-bg-color-dark: colors.$gray-black;
$bg-color-dark: colors.$dark-purple;
$bg-highlight-dark: colors.$purple;
$card-bd-color-dark: colors.$lilac;
$font-color-dark: colors.$white;
$font-color-secondary-dark: colors.$light-gray;