@use '../utils/utils.scss';

* {
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

h1,
h2,
h3,
p,
a,
dt,
dd,
li,
span,
small,
label {
    @include utils.font-color();
}

input[type="text"],
input[type="email"],
textarea {
    font-size: 0.8rem;
    padding: 5px;

    @include utils.tertiary-background-color();
    @include utils.font-color();

    border-color: utils.$font-color-light;

    @media(prefers-color-scheme: dark) {
        border-color: utils.$font-color-dark;
    }
}

$ids: "#skills", "#latest-projects", "#resume", "#contact";

@each $id in $ids {
    #{$id} {
        @include utils.scroll-adjustments();
    }
}