@use '../utils/utils.scss';

body {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 180px !important;
    scroll-padding-top: 180px !important;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dt,
dd,
li,
span,
small,
label {
    color: utils.$font-color-light;

    @media(prefers-color-scheme: dark) {
        color: utils.$font-color-dark;
    }
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-size: 0.8rem;
    padding: 5px;
}