@use "../utils/utils.scss";
@use "about-me";

.bio {
    max-width: 70%;
    display: flex;
    gap: 10rem;
    margin: 2rem;
    position: relative;
    padding: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;

    &::before {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: 85%;
        background-color: utils.$secondary-bg-color-light;
        background-size: cover;
        background-position: center;
        border-radius: 15px 5px 15px 5px;

        @media(prefers-color-scheme: dark) {
            background-color: utils.$secondary-bg-color-dark;
        }
    }

    &__img {
        width: 250px;
        height: auto;
        border-radius: 10px;

    }

    @media (max-width: 1200px) {
        flex-direction: row;
        max-width: 90%;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;

            &__img {
                width: 150px;
                height: auto;
                border-radius: 10px;
            }

        }
    }
}