@use "../utils/utils.scss";

.bio {
    max-width: 70%;
    display: flex;
    gap: 10rem;
    margin: 2rem;
    position: relative;
    padding: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;

    &::before {
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: 85%;
        background-color: utils.$secondary-bg-color-light;
        background-size: cover;
        background-position: center;
        border-radius: 15px 5px 15px 5px;

        @media(prefers-color-scheme: dark) {
            background-color: utils.$secondary-bg-color-dark;
        }
    }

    &__photo {     

        img {
            width: 250px;
            height: auto;
            border-radius: 10px;
        }
    }

    &__about-me { 
        max-width: 50%;
        padding: 20px;
        margin-left: 10px;

        &__title {
            text-align: center;
            margin-top: 0;
        }

        &__buttons {
            display: flex;
            justify-content: space-evenly;
        }
    }
}