@use "../utils/utils.scss";

.bio {
    @include utils.flex-center();
    gap: 10rem;

    max-width: 70%;
    margin: 2rem;
    position: relative;
    padding: 10px;

    line-height: 1.5rem;

    &::before {
        @include utils.stylized-background-color();
    }

    &__img {
        width: 250px;
        height: auto;
        border-radius: 10px;

    }

    @media (max-width: 1200px) {
        flex-direction: row;
        max-width: 90%;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;

            &__img {
                width: 150px;
                height: auto;
                border-radius: 10px;
            }

        }
    }
}