@use '../utils/utils.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    margin: 20px;
    max-width: 20%;
    min-width: 250px;
    border-radius: 15px 5px 15px 5px;
    border: 3px solid utils.$card-bd-color-light;
    background-color: utils.$card-bg-color-light;

    @media(prefers-color-scheme: dark) {
        border: 3px solid utils.$card-bd-color-dark;
        background-color: utils.$card-bg-color-dark;
    }

    &__image {

        img {
            width: 200px;
            height: auto;
            border-radius: 10px;
        }
    }

    &__content {
        text-align: center;
    }
}