@use "../utils/utils.scss";

.footer {
    background-color: utils.$primary-bg-color-light;
    display: flex;
    justify-content: center;

    @media(prefers-color-scheme: dark) {
        background-color: utils.$primary-bg-color-dark;
    }
}