@use "../utils/utils.scss";

.intro-banner {
    @include utils.flex-center();
    flex-direction: column;
    position: relative;

    &::before {
        @include utils.stylized-background-image('../src/img/pexels-maxavans-5069519.jpg', '../src/img/pexels-andre-ramos-414014-2182552.jpg');
    }

    &__title {
        width: 100%;
        margin-top: 0;
        padding-top: 2rem;
        text-align: center;
    }
}