@use 'card';

.latest-projects {
    background-color: white;
    // margin: -0.1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    &__cards {
        display: flex;
        gap: 5rem;
        flex-direction: row;
        // width: 90%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
}