@use '_card';
@use '../utils/utils.scss';

.latest-projects {
    background-color: utils.$secondary-bg-color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    &__cards {
        display: flex;
        gap: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    @media (prefers-color-scheme: dark) {
        background-color: utils.$secondary-bg-color-dark;
    }
}