.list {
    // line-height: 1.5em;

    &__title {
        font-weight: bold;
        margin: 1em 0 0.5em 0;
    }

    &__entry {

        &--normal {
            font-size: small;
            font-style: normal;
        }

        &--emphasis {
            font-size: small;
            font-style: italic;
        }

        &--highlight {
            font-size: small;
            font-weight: bold;
        }
    }
}