@use '../utils/utils.scss';

.resume {
    @include utils.tertiary-background-color();

    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-evenly;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__education,
    &__experience {
        @include utils.flex-center();
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 50%;

        @media (max-width: 768px) {
            max-width: 100%;
            align-items: flex-start;
        }
    }

    &__title {

        &--large {
            text-align: center;
            margin-bottom: 2rem;
        }

        &--small {
            align-self: center;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__download {
        align-self: center;
        margin-top: 2rem;
        border-radius: 10px;

        @media(prefers-color-scheme: dark) {
            border-color: utils.$bg-highlight-dark;
            background-color: utils.$primary-bg-color-dark;
        }
    }
}